body {
  margin: 0;
  line-height: normal;
}

:root {
    /* fonts */
    --font-roboto: Roboto;
    /* font sizes */
    --font-size-5xl: 24px;
    /* Colors */
    --color-black: #000;
    --color-orange: #f8ac18;
    --color-darkslateblue: #105dab;
}
