.menu,
.quanlyhethong {
  position: absolute;
  width: 330px;
}
.menu {
  top: 108px;
  left: 1px;
  background-color: var(--color-darkslateblue);
  height: 1181px;
}
.quanlyhethong {
  top: 112px;
  left: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}
.header1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslateblue);
  width: 1900px;
  height: 110px;
}
.menu1-icon,
.pngwing1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 330px;
  height: 108px;
  object-fit: cover;
}
.menu1-icon {
  top: 28px;
  left: 349px;
  width: 49.93px;
  height: 54.24px;
}
.header,
.qllichchieu1,
.qllichchieu2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1900px;
  height: 110px;
}
.qllichchieu1,
.qllichchieu2 {
  width: 330px;
  height: 60px;
}
.qllichchieu1 {
  background-color: var(--color-orange);
}
.qllichchieu2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.qllichchieu,
.qlphim,
.qlrap,
.quanlyxuatchieu,
.thongke {
  position: absolute;
  top: 182px;
  left: 0;
  width: 330px;
  height: 60px;
}
.qlphim,
.qlrap,
.quanlyxuatchieu,
.thongke {
  top: 252px;
}
.qlrap,
.quanlyxuatchieu,
.thongke {
  top: 322px;
}
.quanlyxuatchieu,
.thongke {
  top: 392px;
}
.thongke {
  top: 460px;
  left: 1px;
}
.khunghienthi,
.quan-tri-web-child,
.taikhoan {
  position: absolute;
  top: 525px;
  left: 0;
  width: 330px;
  height: 8px;
}
.khunghienthi,
.taikhoan {
  top: 539px;
  height: 60px;
}
.khunghienthi {
  top: 112px;
  left: 334px;
  background-color: #fbf6f6;
  width: 1566px;
  height: 1177px;
}
.quan-tri-web {
    position: relative;
    background-color: #d9d9d9;
    width: 100%;
    height: 1289px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-roboto);
}
