
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<div class="movie">
    <div class="buttonxemthem">
        <div class="button"></div>
        <div class="xem-thm">XEM THÊM</div>
    </div>
    <div class="movie-1">
        <div class="content-1"></div>
        <div class="text-1">
            <span class="text-1-txt">
                <p class="the-nun-ii">THE NUN II</p>
                <p class="the-nun-ii">ÁC QUỶ MA SƠ</p>
            </span>
        </div>
        <img class="movie-1-icon" alt="" src="~/Content/Image/movie-1@2x.png">
    </div>
    <div class="movie-2">
        <div class="content-1"></div>
        <div class="text-2">
            <span class="text-1-txt">
                <p class="the-nun-ii">A HAUNTING IN VENICE</p>
                <p class="the-nun-ii">ÁN MẠNG Ở VENICE</p>
            </span>
        </div>
        <img class="movie-1-icon" alt="" src="~/Content/Image/movie-2@2x.png">
    </div>
    <div class="movie-4">
        <div class="content-1"></div>
        <div class="text-4">
            <span class="text-1-txt">
                <p class="the-nun-ii">RETRIBUTION</p>
                <p class="the-nun-ii">TRỪNG PHẠT</p>
            </span>
        </div>
        <img class="movie-1-icon" alt="" src="~/Content/Image/movie-4@2x.png">
    </div>
    <div class="movie-5">
        <div class="content-1"></div>
        <div class="text-1">
            <span class="text-1-txt">
                <p class="the-nun-ii">HONEY SWEET</p>
                <p class="the-nun-ii">NHÂN DUYÊN TIỀN ĐÌNH</p>
            </span>
        </div>
        <img class="movie-1-icon" alt="" src="~/Content/Image/movie-5@2x.png">
    </div>
    <div class="movie-6">
        <div class="content-1"></div>
        <div class="text-1">THE JUNGLE BUNCH 2: THE GREAT TREASURE QUEST</div>
        <img class="movie-1-icon" alt="" src="~/Content/Image/movie-6@2x.png">
    </div>
    <div class="title">
        <div class="movie-3">
            <div class="content-1"></div>
            <div class="text-2">
                <span class="text-1-txt">
                    <p class="the-nun-ii">DON'T BUY THE SELLER</p>
                    <p class="the-nun-ii">ĐƠN HÀNG TỪ SÁT NHÂN</p>
                </span>
            </div>
            <img class="movie-1-icon" alt="" src="~/Content/Image/movie-3@2x.png">
        </div>
        <div class="title-2"></div>
        <div class="title-1"></div>
        <div class="phimdangchieu">PHIM ĐANG CHIẾU</div>
        <div class="phimsapchieu">PHIM SẮP CHIẾU</div>
    </div>
</div>
<div class="km">
    <div class="km-8-parent">
        <img class="km-8-icon" alt="" src="~/Content/Image/km-8@2x.png">

        <img class="km-7-icon" alt="" src="~/Content/Image/km-7@2x.png">

        <img class="km-6-icon" alt="" src="~/Content/Image/km-6@2x.png">

        <img class="km-5-icon" alt="" src="~/Content/Image/km-5@2x.png">

        <img class="km-4-icon" alt="" src="~/Content/Image/km-4@2x.png">

        <img class="km-3-icon" alt="" src="~/Content/Image/km-3@2x.png">

        <img class="km-2-icon" alt="" src="~/Content/Image/km-2@2x.png">

        <img class="km-1-icon" alt="" src="~/Content/Image/km-1@2x.png">
    </div>
    <div class="km1"></div>
    <div class="tinkhuyenmai">TIN KHUYẾN MÃI</div>
</div>

